boto3==1.34.84
django==4.2.23
django-import-export==4.3.14
djangorestframework==3.16.0
freetype-py==2.5.1
openpyxl==3.1.5
Pillow==11.2.1
psycopg2-binary==2.9.9
pycairo==1.29.0
requests==2.32.3
svglib==1.5.1
tablib==3.9.0
whitenoise==6.9.0
xhtml2pdf==0.2.17
django==4.2.23
djangorestframework==3.16.0
django-import-export==4.3.14
boto3==1.34.84
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
uritools==5.0.0
urllib3==2.5.0
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.9.0
xhtml2pdf==0.2.17
yarl==1.22.0
zope.interface==8.0.1
